SID_LIST_LISTENER=
  (SID_LIST=
    (SID_DESC=
      (GLOBAL_DBNAME={{ dstosid_SID }})
      (SERVICE_NAME={{ dstosid_SID }})
      (ORACLE_HOME={{ oracle_home_19000 }})
    )
  )

LISTENER_{{ dstosid_SID }} =
   (DESCRIPTION_LIST =
      (DESCRIPTION =
         (ADDRESS = (PROTOCOL = TCP)(HOST = {{ server_prim }})(PORT = {{ vm_LSNRPORT }}))
      )
   )

SID_LIST_LISTENER=
  (SID_LIST=
    (SID_DESC=
      (SERVICE_NAME={{ dstosid_SID }}_DGMGRL)
      (GLOBAL_DBNAME{{ dstosid_SID }})
      (INSTANCE_NAME = {{ dstosid_SID }})
      (ORACLE_HOME={{ oracle_home_19000 }})
    )
  )
