default_paths() {
PATH=$PATH:/bin:/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/usr/local/sbin:/usr/bin:/bin:/usr/lib64:/usr/lib
LD_LIBRARY_PATH=/lib64:/lib:/usr/lib
OS="`/bin/uname -s | /bin/grep -ci linux`"
}

generate_paths() {
default_paths
}

set_options() {
case "$1" in
*ksh)
EDITOR="vi"
ENV=".kshrc"
HOSTNAME=`/bin/uname -n | /bin/cut -d. -f1`
PAGER="/bin/more"
TMP=/tmp
TMPDIR=$TMP; export TMPDIR
TZ="Europe/Brussels"; export TZ
if [ $OS -gt 0 ]; then
USER=`/usr/bin/id -un`
else
USER=`/usr/bin/id -un`
fi
;;
*sh)
EDITOR="vi"
HOSTNAME=`/bin/uname -n | /bin/cut -d. -f1`
PAGER="/bin/more"
TMP=/tmp
TMPDIR=$TMP; export TMPDIR
TZ="Europe/Brussels"; export TZ
if [ $OS -gt 0 ]; then
USER=`/usr/bin/id -un`
else
USER=`/usr/bin/id -un`
fi
;;
esac
}

set_prompt() {
case "$1" in
-ksh)
PS1='[$USER@$HOSTNAME]:$PWD # '
;;
-sh)
PWD=`pwd`
PS1="[$USER@$HOSTNAME]:$PWD # "
;;
esac
}

export_environment() {
export EDITOR PAGER HOSTNAME LD_LIBRARY_PATH PAGER PATH PS1 TMPDIR TMP
}

set_alias() {
alias ll='ls -alrt'
alias loc='cd /usr/local/bin'
alias soft2='cd /nas102/software'
alias so='set -o vi'
alias cdo='cd $ORACLE_HOME'
alias cdn='cd $ORACLE_HOME/network/admin'
alias scr='cd $ORACLE_BASE/scripts'
alias list='lsnrctl status'
alias otab='cat /etc/oratab'
alias oenv='. oraenv'
alias c60="ssh -X -Y ctlpoc60"
alias o61="ssh -X -Y orapoc61"
alias 10="cd /home/yves/BNP/ORAPROV_ANSIBLE/roles/10-Install_Uninstall_Latest"
alias lcm="cd /home/yves/BNP/ORAPROV_ANSIBLE"
alias var="vi /home/yves/BNP/ORAPROV_ANSIBLE/vars/poc.global.yml"
alias inv="vi /home/yves/BNP/ORAPROV_ANSIBLE/inventory/poc/hosts"
alias cfg="vi /etc/ansible/ansible.cfg"
alias pred="ssh -X -Y pred09"
alias extra="cd /nas102/extra"
alias doc="cd /nas102/Documenten"
alias inter="cd /nas102/Internet_downloads/Linux/New/Yves"
alias web2="cd /nas102/web"
alias new="cd /new_stage/downloads"
alias pdf="cd /nas102/web/pdf"
}

# begin environment

generate_paths
set_options "$0"
set_prompt "$0"
export_environment
set_alias

. /oracle/{{ dstosid_user }}/setEnv19c.sh
