SID_LIST_LISTENER=
  (SID_LIST=
    (SID_DESC=
      (GLOBAL_DBNAME={{ dstosid_SID_stby }})
      (SERVICE_NAME={{ dstosid_SID_stby }})
      (ORACLE_HOME={{ oracle_home_19000 }})
    )
  )

LISTENER_{{ dstosid_SID_stby }} =
   (DESCRIPTION_LIST =
      (DESCRIPTION =
         (ADDRESS = (PROTOCOL = TCP)(HOST = {{ server_stby }})(PORT = {{ vm_LSNRPORT }}))
      )
   )

SID_LIST_LISTENER=
  (SID_LIST=
    (SID_DESC=
      (SERVICE_NAME={{ dstosid_SID_stby }}_DGMGRL)
      (GLOBAL_DBNAME={{ dstosid_SID_stby }})
      (INSTANCE_NAME={{ dstosid_SID_stby }})
      (ORACLE_HOME={{ oracle_home_19000 }})
    )
  )
