# Oracle Settings
export TMP=/tmp
export TMPDIR=$TMP

export ORACLE_BASE={{ vm_OBASE }}
export ORACLE_HOME={{ vm_OHOME_CLI }}

export LD_LIBRARY_PATH=$ORACLE_HOME:/lib:/usr/lib:$LD_LIBRARY_PATH
export TNS_ADMIN=$ORACLE_HOME/network/admin

export ANSIBLE_CONFIG=/home/ansible/BNP_POC_DGuard/ansible_cfg/poc/ansible.cfg
export ANSIBLE_TOP=/home/ansible/BNP_POC_DGuard/roles
export ANSIBLE_TOP01=/home/ansible/BNP_POC_DGuard/roles/01-dguard-install
export ANSIBLE_TOP02=/home/ansible/BNP_POC_DGuard/roles/02-dguard-config
export ANSIBLE_TOP99=/home/ansible/BNP_POC_DGuard/roles/99-various-utils

export PATH=/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:$PATH:$ORACLE_HOME:$LD_LIBRARY_PATH
