# tnsnames.ora Configuration File generated and copied by ANSIBLE Playbook dataguard_prepare.yaml

{{ dstosid_SID }} =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = {{ server_prim }})(PORT = {{ vm_LSNRPORT }}))
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = {{ dstosid_SID }})
      (INSTANCE_NAME = {{ dstosid_SID }})
    )
  )

{{ dstosid_SID_stby }} =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = {{ server_stby }})(PORT = {{ vm_LSNRPORT }}))
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = {{ dstosid_SID_stby }})
      (INSTANCE_NAME = {{ dstosid_SID_stby }})
    )
  )

{{ dstosid_SID }}_DGMGRL =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = {{ server_prim }})(PORT = {{ vm_LSNRPORT }}))
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = {{ dstosid_SID }}_DGMGRL)
      (INSTANCE_NAME = {{ dstosid_SID }})
    )
  )

{{ dstosid_SID_stby }}_DGMGRL =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = {{ server_stby }})(PORT = {{ vm_LSNRPORT }}))
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = {{ dstosid_SID_stby }}_DGMGRL)
      (INSTANCE_NAME = {{ dstosid_SID_stby }})
    )
  )

LISTENER_{{ dstosid_SID }} =
  (ADDRESS = (PROTOCOL = TCP)(HOST = {{ server_prim }})(PORT = {{ vm_LSNRPORT }}))


LISTENER_{{ dstosid_SID_stby }} =
  (ADDRESS = (PROTOCOL = TCP)(HOST = {{ server_stby }})(PORT = {{ vm_LSNRPORT }}))
