LISTENER_{{ dbstby }} =
  (ADDRESS = (PROTOCOL = TCP)(HOST = {{ server_stby }})(PORT = {{ vm_LSNRPORT }}))


{{ dbstby }}_DGMGRL =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = tcp)(HOST = {{ server_stby }})(PORT = {{ vm_LSNRPORT }}))
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = {{ dbstby }}_DGMGRL)
      (STATIC_SERVICE=TRUE)
    )
  )

{{ dbprim }} =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = {{ server_prim }})(PORT = {{ vm_LSNRPORT }}))
    (CONNECT_DATA =
      (GLOBAL_DBNAME={{ dbprim }})
      (SERVICE_NAME = {{ dbprim }}_DGMGRL)
      (SERVER = DEDICATED)
      (INSTANCE_NAME={{ dbprim }})
      (STATIC_SERVICE=TRUE)
    )
  )

{{ dbprim }}_DGMGRL =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = tcp)(HOST = {{ server_prim }})(PORT = {{ vm_LSNRPORT }}))
    (CONNECT_DATA =
      (GLOBAL_DBNAME={{ dbprim }}_DGMGRL)
      (SERVER = DEDICATED)
      (SERVICE_NAME = {{ dbprim }}_DGMGRL)
      (INSTANCE_NAME={{ dbprim }})
      (STATIC_SERVICE=TRUE)
    )
  )

{{ dbstby }} =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = {{ server_stby }})(PORT = {{ vm_LSNRPORT }}))
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = {{ dbstby }})
    )
  )

LISTENER_{{ dbprim }} =
  (ADDRESS = (PROTOCOL = TCP)(HOST = {{ server_prim }})(PORT = {{ vm_LSNRPORT }}))
